body {
    background-color: #50AFA2;
    font-family: 'Crimson Text', serif;
}

h1 {
    display: flex;
    margin: auto;
    font-family: 'Crimson Text', serif;
    font-size: 5rem;
    justify-content: center;
}

#product-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 20%;
}

.plant-card {
    width: 33%;
    min-width: 20%;
    height: 33%;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #A6D7D0;
}

.plant-card img {
    border: 2px black solid;
    width: 300px;
    max-width: 70%;
    height: 300px;
    border-radius: 10px;
    display: flex;
}

.plant-card button {
    margin-bottom: 20px;
}

